##
## Environment
##
NODE_ENV=development
#NODE_ENV=production

##
## Debug
##
DEBUG="api"

##
## API
##
NODE_ENV=development
API_PORT=8080
ALLOWED_ORIGINS=http://localhost:8081

##
## Frontend
##
API_URL=http://localhost:8080

##
## Staging
##
STAGING_URL=http://localhost:8082

##
## Kue - Port
##
KUE_PORT=8000
