
extends ../layouts/default.jade

block jumbotron
  .jumbotron
    .container
      h1 Who We Are, What We Do, 
        br
        | and Who We Do It For!
      p
        | The GI Go Fund has become one of the leaders in the veterans' community through 
        | creating innovative, 21st century solutions to help veterans find employment, go to 
        | college, access housing, and connect to their benefits. Through an innovative 
        | partnership with Newark Mayor Cory Booker, we have created an historic program with 
        | the city of Newark that provides cutting edge services to veterans in each of these 
        | areas. The Newark program is receiving nationwide attention, with major cities across 
        | the country looking to our organization to replicate the model we have created in 
        | Newark for veterans living in their area.
      

block content
  .row
    .col-md-8.col-md-offset-2
      h2 Our Mission
      p 
        | The GI Go Fund is a 501(c)(3) nonprofit charitable organization that provides assistance 
        | to all military veterans, with a focus on veterans from Iraq and Afghanistan, by helping 
        | them find employment, access housing, and secure their educational and health benefits.

      h2 Our Work
      p
        | The GI Go Fund has created a model for providing unparalleled support to our military 
        | veterans, leading the way with innovative services for veterans to help them with 
        | employment, homelessness, and connecting to their benefits. In each area, we have 
        | established the blueprint for how veterans should be treated and assisted when they 
        | return home, and we are now expanding our innovative methods to major cities 
        | throughout the country to provide them with the support they need for them and their 
        | families.

      h3 Employment
      p
        | Our employment program matches veterans with potential employers and identifies which 
        | veterans are qualified to secure employment and which will require our assistance with 
        | further job training, education or career planning so that they can continue their job 
        | search with better preparation and confidence. GI Go also hosts numerous "Job and GI 
        | Bill Fairs" that connect veterans with prospective employers in both the public and private 
        | sector, each of whom have been selected for their dedication to hiring veterans.

      h3 Homelessness
      p 
        | For the homeless veteran population, we host outreach events called "Stand Downs" 
        | which connect the homeless veterans with housing options, career counseling, and 
        | addiction counseling, along with services from federal, state and local agencies, 
        | non-profits, and health care provided by the Department of Veterans Affairs (VA). In 
        | addition, we conduct "Midnight Missions", where scores of GI Go volunteers go out 
        | before dawn to areas densely populated with homeless vets to provide them with food, 
        | clothing, emergency VA medical assistance, as well as collect information that will begin 
        | the process of helping them find housing and get off the streets.
      
      h3 Benefits
      p
        | When veterans return home, they struggle to secure their benefits from the VA. The GI 
        | Go Fund works directly with our former service members both through outreach efforts 
        | and at centralized locations to link them to the resources they need to access the 
        | federal, state, and local benefits they have earned.
      
      h2 Our History
      p
        | The GI Go Fund was founded in 2006 following the death of Army Lt. Seth Dvorin, a 
        | close friend to the organization’s co-founders, from an IED blast in Iraq. The 
        | organization began as a small community group, which aimed to preserve the memory 
        | of our friend through providing days of rest and relaxation to our nation’s veterans. 
        | However, as we began to spend time with these men and women, we began to 
        | understand that their problems and fears did not end the minute they returned home, 
        | but instead had just begun.
      p
        | As we came to understand the magnitude of the problems that plagued the veterans’ 
        | world, we began to expand our efforts, working with veterans to help them collect their 
        | VA benefits, provide financial assistance to low income and homeless veterans, and 
        | assist in their search for steady employment and the college of their choice. Since then, 
        | we have helped tens of thousands of veterans throughout New Jersey and across the 
        | country receive the assistance they need, and we look forward to our future of helping 
        | all American veterans in their struggle to return home with honor.

    
    
