extends ../layouts/default.jade

block jumbotron
  .jumbotron
    .container
      h1 GiGo Fund
      p
        | Jeans for Troops Day 
      p
        a.btn.btn-primary.btn-lg.pull-right(href='#', role='button') Join Up »

block content
  #p
  .row
    .col-md-4
      .panel.panel-default
        .panel-body.stack-1
          h2 Jobs & Education
          p
            | One of the keys to a successful transition is securing employment. As Veterans are 
            | returning home from combat in Iraq and Afghanistan, they face unemployment at a 
            | rate that far exceeds their civilian counterparts. 
          a.btn.btn-default.btn-bottom(href='#', role='button') View details »
    .col-md-4
      .panel.panel-default
        .panel-body.stack-1
          h2 Transition Center
          p
            | Upon their return from combat, veterans face enormous challenges transitioning back to 
            | civilian life. Dealing with anything from battling Post Traumatic Stress Disorder (PTSD) 
            | or Traumatic Brain Injury (TBI), receiving VA health benefits, or facing financial 
            | hardships, our nation’s heroes often become overwhelmed.
          a.btn.btn-default.btn-bottom(href='#', role='button') View details »
    .col-md-4
      .panel.panel-default
        .panel-body.stack-1
          h2 Outreach
          p
            | We are committed to raising awareness among veterans regarding what 
            | they are entitled to, whether its informing them about opportunities in employment 
            | or education, the benefits they have earned, or any of the latest developments in 
            | the veteran community. Our organization is equally committed to informing members 
            | of the civilian population, be it employers, educators, or the community as a whole, 
            | about the struggles veterans face upon their return and what they can do to help.
          a.btn.btn-default.btn-bottom(href='#', role='button') View details »
